html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.main_page {
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 32px;
    margin-bottom: 56px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.logo_text {
    margin-left: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #010101;
}

.banderogus {
    background: fff;
    padding: 60px 56px;
    align-self: center;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #000000;
    margin-bottom: 24px;
}

.banderogus-h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 16px;
}

.banderogus-h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #FF6B0A;
    margin-bottom: 48px;
}

.banderogus-deskr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181D1F;
    margin-bottom: 48px;
}

.b-gus-launch {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.selfi {
    align-self: flex-end;
}

.main_page_row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.gus_facts {
    padding: 52px 0 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facts_h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #181D1F;
    margin: 16px 0;
}

.facts_descr {
    width: 875px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #181D1F;
}

.facts_list {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.facts_item {
    width: 33%;
}

h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #181D1F;
    margin: 12px 0 32px 0;
}

.facts_deskr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181D1F;
    width: 270px;
}

footer {
    display: flex;
    justify-content: center;
}

.victory_background {
    padding: 72px 0 72px 0;
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
    background: linear-gradient(270deg, #E4F5FF 0%, #FFFFFF 100%);
}

.victory_h4 {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #181D1F;
    margin-top: 28px;
    margin-bottom: 32px;
}

.victory_descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #181D1F;
    width: 872px;
}

.modal-bgd {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(24 29 31 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.modal-form-container{
    background: #FFF;
    padding: 32px 92px 60px 92px;
    position: relative;
}

.modal-form {    
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.modal-form_h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #181D1F;
    margin: 32px 0 12px 0;
}

.modal-form_descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181D1F;
    margin-bottom: 24px;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181D1F;
    margin-bottom: 8px;
}

.input {
    border: 1px solid #005BBB;
    border-radius: 8px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    color: #181D1F;
    padding: 4px 8px;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: #1B1D1F;
    cursor: pointer;
    border: 0;
    background: none;
}

.b-gus-slava {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}